.falling-text-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  cursor: pointer;
  text-align: center;
  padding-top: 0.05rem; /* moved up a little */
  margin-top: -0.35rem;
}

.falling-text-target {
  display: inline-block;
}

.word {
  display: inline-block;
  margin: 0 6px;
  user-select: none;
  font-weight: 700;
  font-size: 1.6rem; /* larger by default */
}

.highlighted {
  color: #8be9fd;
  font-weight: 700;
}

.falling-text-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* make container size adapt to content */
.falling-text-container, .falling-text-target { height: auto; }
