/* .floating-lines-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
} */


.floating-lines-container {
  width: 100%;
  height: 100vh;          /* Full screen */
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;             /* stays in background */
}
